@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
margin: 0;
padding: 0;
font-family: 'poppins', sans-serif;
box-sizing: border-box;
}
.hero{
background: #1d2026;
min-height: 90vh;
width: 100%;
color: #fff;
position: relative;
}
nav{
display: flex;
align-items: center;
padding: 20px 8%;

}
nav .menu-img{
width: 25px;
margin-right: 20px;
cursor: pointer;
}
nav .logo{
width: 160px;
cursor: pointer;
}
nav ul{
flex: 1;
text-align: right;
}
nav ul li{
display: inline-block;
list-style: none;
margin: 0 20px;
}
 nav ul li a{
text-decoration: none;
color: #fff;
}
button{
background: #efefef;
height: 30px;
width: 60px;
border-radius: 20px;
border: 0;
outline: 0;
cursor: pointer;
transition: background 0.5s;
}
button span{
display: block;
background: #999;
height: 26px;
width: 26px;
border-radius: 50%;
margin-left: 2px;
transition: background 0.5s, margin-left 0.5s;
}
.lamp-container{
position: absolute;
top: -22px;
left: 22%;
width: 200px;
}

.lamp{
width: 100%;
}
.light{
position: absolute;
top: 97%;
left: 50%;
transform: translateX(-50%);
width: 700px;
margin-left: -10px;
opacity: 0;
transition: opacity 0.5s;
}
.text-container{
max-width: 600px;
margin-top: 7%;
margin-left: 50%;
}
.text-container h1 {
font-size: 80px;
font-weight: 400;
}
.text-container a{
text-decoration: none;
background: #00986f;
padding: 14px 40px;
display: inline-block;
color: #fff;
font-size: 18px;
margin-top: 30px;
border-radius: 30px;
}
.control{
display: flex;
align-items: center;
justify-content: flex-end;
margin-top: 10px;
}
.control .line{
width: 250px;
height: 4px;
background: #fff;
margin: 0 2px;
}
.control .line span{
width: 50%;
height: 8px;
margin-top: -2px;
border-radius: 4px;
background: #00986f;
display: block;
}
.active{
background: green;

}
.active span{
background: #fff;
margin-left: 31px;
}
.on{
opacity: 1;
}
.off{
opacity: 0;
}

.light1{
position: absolute;
top: 97%;
left: 50%;
transform: translateX(-50%);
width: 700px;
margin-left: -10px;
opacity: 0;
transition: opacity 0.5s;
}
.light2{
position: absolute;
top: 97%;
left: 50%;
transform: translateX(-50%);
width: 700px;
margin-left: -10px;
opacity: 0;
transition: opacity 0.5s;
}








.text-container .btnss{
  margin-top: 20px;
}
.text-container .btnss button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.text-container .btnss button:first-child{
  color: white;
  background: none;
}
.btnss button:first-child:hover{
  background: white;
  color: black;
}
.text-container .btnss button:last-child{
  background: none;
  color: white;
}
.btnss button:last-child:hover{
  background: white;
  color: black;
}




body {
  background:#ddd;
  font-family:"Raleway";
}
.center {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.popup {
  width:550px;
  height:400px;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:border-box;
  z-index:2;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup p span{
background:#f5f5f5;
}
#content{
position: relative;
}

.ribbon {
position: absolute;
top: 1px;
right: 5px;
}

#content1{
position: relative;
}

.ribbon1 {
position: absolute;
top: 1px;
right: 35px;
}


.popup .dots .dot1 {
  margin:0px 0px;
  text-align:left;
  line-height:60px;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.popup .dots .dot2 {
  margin:0px 0px;
  height: 15px;
  width: 15px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}
.popup .dots .dot3 {
  margin:0px 0px;
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.popup .icon {
  margin:5px 0px;
  width:50px;
  height:50px;
  border:2px solid #34f234;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup .icon i.fa {
  font-size:30px;
  color:#34f234;
} 
.popup .title {
  margin:5px 0px;
  font-size:30px;
  color: black;
  font-weight:600;
}
.popup .description {
  color:#222;
  font-size:15px;
  padding:2px;
}
.popup .description2 {
  color:#222;
  font-size:15px;
  padding:2px;
}
.popup .dismiss-btn {
  margin-top:18px;
 text-align: center;
}
.popup .dismiss-btn button {
  padding:40px 60px;
  background:#111;
  color:#f5f5f5;
  border:2px solid #111;
  font-size:20px;
 
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
  color:#111;
  background:#f5f5f5;
}
.popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div {
  top:0px;
  opacity:1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .description2 {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}










.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


.footer .footerr{
text-align: center;
color: #ffffff;
padding-top: 30px;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}








@media (max-width:700px){
.hero{
min-height: 280vh;
width: 100%;
color: #fff;
position: relative;
width: 500px;
height: 100%;
}

.text-container{
max-width: 600px;
margin-top: 20%;
margin-left: 25%;
}
.text-container h1 {
font-size: 80px;
font-weight: 400;
}
.text-container a{
text-decoration: none;
background: #00986f;
padding: 14px 40px;
display: inline-block;
color: #fff;
font-size: 18px;
margin-top: 30px;
border-radius: 30px;
}







.lamp-container{
position: absolute;
top: 750px;
left: 43%;
width: 100px;
}

.lamp{
width: 100%;
}
.light{
position: absolute;
top: 97%;
left: 20%;
transform: translateX(-50%);
width: 250px;
margin-left: -10px;
opacity: 0;
transition: opacity 0.5s;
}

}


